In [1]:
import pandas as pd

In [2]:
import wget
cities_file = wget.download("http://download.geonames.org/export/dump/cities1000.zip")
countries_file = wget.download("http://download.geonames.org/export/dump/countryInfo.txt")
print(f"{cities_file=} {countries_file=}")

cities_file='cities1000.zip' countries_file='countryInfo.txt'

In [3]:
# pandas read compressed csv
columns = ["geonameid", "name", "asciiname", "alternatenames", "latitude", "longitude", "feature class", "feature code", "country code", "cc2", "admin1 code", "admin2 code", "admin3 code", "admin4 code", "population", "elevation", "dem", "timezone", "modification date"]

df = pd.read_csv(cities_file, sep='\t', names=columns, low_memory=False)
df

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,02,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03
1,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,NaN,06,NaN,NaN,NaN,8022,NaN,921,Europe/Andorra,2013-11-23
2,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.54277,1.73361,P,PPL,AD,NaN,03,NaN,NaN,NaN,2363,2050.0,2106,Europe/Andorra,2008-06-09
3,3039678,Ordino,Ordino,"Ordino,ao er di nuo,orudino jiao qu,Ордино,オルデ...",42.55623,1.53319,P,PPLA,AD,NaN,05,NaN,NaN,NaN,3066,NaN,1296,Europe/Andorra,2018-10-26
4,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,08,NaN,NaN,NaN,15853,NaN,1033,Europe/Andorra,2008-10-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140818,895269,Beitbridge,Beitbridge,"Bajtbridz,Bajtbridzh,Beitbridge,Beitbridzas,Be...",-22.21667,30.00000,P,PPL,ZW,NaN,07,NaN,NaN,NaN,58100,NaN,461,Africa/Harare,2022-10-07
140819,895308,Beatrice,Beatrice,Beatrice,-18.25283,30.84730,P,PPL,ZW,NaN,04,NaN,NaN,NaN,1647,NaN,1307,Africa/Harare,2018-05-09
140820,895417,Banket,Banket,"Banket,Banket Junction",-17.38333,30.40000,P,PPL,ZW,NaN,05,NaN,NaN,NaN,9641,NaN,1277,Africa/Harare,2013-03-12
140821,1085510,Epworth,Epworth,Epworth,-17.89000,31.14750,P,PPLX,ZW,NaN,10,NaN,NaN,NaN,123250,NaN,1508,Africa/Harare,2012-01-19
140822,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,10,NaN,NaN,NaN,371244,NaN,1435,Africa/Harare,2022-10-05

In [4]:
df1 = df[["geonameid", "name", "asciiname", "latitude", "longitude", "country code", "population"]]
df1

,geonameid,name,asciiname,latitude,longitude,country code,population
0,3039154,El Tarter,El Tarter,42.57952,1.65362,AD,1052
1,3039163,Sant Julià de Lòria,Sant Julia de Loria,42.46372,1.49129,AD,8022
2,3039604,Pas de la Casa,Pas de la Casa,42.54277,1.73361,AD,2363
3,3039678,Ordino,Ordino,42.55623,1.53319,AD,3066
4,3040051,les Escaldes,les Escaldes,42.50729,1.53414,AD,15853
...,...,...,...,...,...,...,...
140818,895269,Beitbridge,Beitbridge,-22.21667,30.00000,ZW,58100
140819,895308,Beatrice,Beatrice,-18.25283,30.84730,ZW,1647
140820,895417,Banket,Banket,-17.38333,30.40000,ZW,9641
140821,1085510,Epworth,Epworth,-17.89000,31.14750,ZW,123250
140822,1106542,Chitungwiza,Chitungwiza,-18.01274,31.07555,ZW,371244

In [5]:
with open(countries_file) as fp:
    new_content = "\n".join(line for line in fp if not line.startswith("#"))
with open(countries_file, "w") as fp:
    fp.write("ISO	ISO3	ISO-Numeric	fips	Country	Capital	Area(in sq km)	Population	Continent	tld	CurrencyCode	CurrencyName	Phone	Postal Code Format	Postal Code Regex	Languages	geonameid	neighbours	EquivalentFipsCode\n")
    fp.write(new_content)

In [6]:
df_country = pd.read_csv(countries_file, sep='\t')
df_country

,ISO,ISO3,ISO-Numeric,fips,Country,Capital,Area(in sq km),Population,Continent,tld,CurrencyCode,CurrencyName,Phone,Postal Code Format,Postal Code Regex,Languages,geonameid,neighbours,EquivalentFipsCode
0,AD,AND,20,AN,Andorra,Andorra la Vella,468.0,77006,EU,.ad,EUR,Euro,376,AD###,^(?:AD)*(\d{3})$,ca,3041565,"ES,FR",NaN
1,AE,ARE,784,AE,United Arab Emirates,Abu Dhabi,82880.0,9630959,AS,.ae,AED,Dirham,971,NaN,NaN,"ar-AE,fa,en,hi,ur",290557,"SA,OM",NaN
2,AF,AFG,4,AF,Afghanistan,Kabul,647500.0,37172386,AS,.af,AFN,Afghani,93,NaN,NaN,"fa-AF,ps,uz-AF,tk",1149361,"TM,CN,IR,TJ,PK,UZ",NaN
3,AG,ATG,28,AC,Antigua and Barbuda,St. John's,443.0,96286,NaN,.ag,XCD,Dollar,+1-268,NaN,NaN,en-AG,3576396,NaN,NaN
4,AI,AIA,660,AV,Anguilla,The Valley,102.0,13254,NaN,.ai,XCD,Dollar,+1-264,NaN,NaN,en-AI,3573511,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,ZA,ZAF,710,SF,South Africa,Pretoria,1219912.0,57779622,AF,.za,ZAR,Rand,27,####,^(\d{4})$,"zu,xh,af,nso,en-ZA,tn,st,ts,ss,ve,nr",953987,"ZW,SZ,MZ,BW,NA,LS",NaN
248,ZM,ZMB,894,ZA,Zambia,Lusaka,752614.0,17351822,AF,.zm,ZMW,Kwacha,260,#####,^(\d{5})$,"en-ZM,bem,loz,lun,lue,ny,toi",895949,"ZW,TZ,MZ,CD,NA,MW,AO",NaN
249,ZW,ZWE,716,ZI,Zimbabwe,Harare,390580.0,14439018,AF,.zw,ZWL,Dollar,263,NaN,NaN,"en-ZW,sn,nr,nd",878675,"ZA,MZ,BW,ZM",NaN
250,CS,SCG,891,YI,Serbia and Montenegro,Belgrade,102350.0,10829175,EU,.cs,RSD,Dinar,381,#####,^(\d{5})$,"cu,hu,sq,sr",8505033,"AL,HU,MK,RO,HR,BA,BG",NaN
251,AN,ANT,530,NT,Netherlands Antilles,Willemstad,960.0,300000,NaN,.an,ANG,Guilder,599,NaN,NaN,"nl-AN,en,es",8505032,GP,NaN

In [7]:
df_merged = pd.merge(df1, df_country[["ISO", "Country"]], left_on="country code", right_on="ISO", how="inner", indicator=True)
assert len(df_merged[df_merged["_merge"] != "both"]) == 0
df_merged.drop(columns=["_merge", "ISO", "country code"], inplace=True)
df_merged

,geonameid,name,asciiname,latitude,longitude,population,Country
0,3039154,El Tarter,El Tarter,42.57952,1.65362,1052,Andorra
1,3039163,Sant Julià de Lòria,Sant Julia de Loria,42.46372,1.49129,8022,Andorra
2,3039604,Pas de la Casa,Pas de la Casa,42.54277,1.73361,2363,Andorra
3,3039678,Ordino,Ordino,42.55623,1.53319,3066,Andorra
4,3040051,les Escaldes,les Escaldes,42.50729,1.53414,15853,Andorra
...,...,...,...,...,...,...,...
140818,895269,Beitbridge,Beitbridge,-22.21667,30.00000,58100,Zimbabwe
140819,895308,Beatrice,Beatrice,-18.25283,30.84730,1647,Zimbabwe
140820,895417,Banket,Banket,-17.38333,30.40000,9641,Zimbabwe
140821,1085510,Epworth,Epworth,-17.89000,31.14750,123250,Zimbabwe
140822,1106542,Chitungwiza,Chitungwiza,-18.01274,31.07555,371244,Zimbabwe

In [8]:
df_merged.to_csv("cities500_merged.csv", index=False)